{% extends 'attendance/base.html' %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<h2>Admin Dashboard</h2>
<h3>Faculties</h3>
<ul class="list-group">
    {% for faculty in faculties %}
        <li class="list-group-item">
            <a href="{% url 'faculty_attendance' faculty.id %}">{{ faculty.name }}</a>
        </li>
    {% endfor %}
</ul>
<a href="{% url 'add_student' %}" class="btn btn-primary mt-2">Add Student</a>
<a href="{% url 'add_teacher' %}" class="btn btn-primary mt-2">Add Teacher</a>
<a href="{% url 'add_faculty' %}" class="btn btn-primary mt-2">Add Faculty</a>

{% endblock %}